.dog-card {
  margin-top:5px;
  margin-left:5px;
}

.no-results {
  margin:auto;
  width: 30%;
  margin-top: 10%;
  opacity: 0.5;
}

.no-results h2 {
  margin: auto;
  width: 80%;
}

.no-results img {
    display: block;
    width: 30%;
    height: auto;
    
    margin:auto;
  }

.info-block {
    display: inline-block;
    margin-left:10px;
    margin-top:15px;
    margin-bottom: 15px;
  }

.info-block div {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
.info-block div span {
    margin-left:2px;
    font-size: 0.85em;
  }

.mat-fab {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}
.spacer {
  flex: 1 1 auto;
}