mat-toolbar {
    font-size: 1em;
    margin-top: 10px;
    height: 100px;
}

.container {
    width: 40%;
    display: flex;
}

.item {
    margin: auto;
}

mat-icon {
    margin-right: 40px;
}

.form-title {
    font-size: 1em;
    margin-right: 5px;
}

mat-divider.style-fix {
    height: 36px;
    margin-left: 8px;
    margin-right: 8px;
}