<mat-grid-list class="container" cols="2" rowHeight="5:1" gutterSize="50">
  <mat-grid-tile class="section mat-elevation-z1">
    <div [@simpleFadeAnimation] class="stat blue mat-elevation-z1">
      <div class="block">
        <div>
          <p>
            Total Views
          </p>
          <mat-icon>touch_app</mat-icon>
        </div>
      </div>
      <div class="block">
        <div class="value">
          <p>
            {{statisticsData.hitCount}}
          </p>
        </div>
      </div>
    </div>
    <div [@simpleFadeAnimation] class="stat green mat-elevation-z1">
      <div class="block">
        <div>
          <p>
            Online Clients
          </p>
          <mat-icon>person</mat-icon>
        </div>
      </div>
      <div class="block">
        <div class="value">
          <p>
            {{statisticsData.numberOfConnectedClients}}
          </p>
        </div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="4" class="section mat-elevation-z1">.

  </mat-grid-tile>
  <mat-grid-tile rowspan="3" class="section mat-elevation-z1">
    <app-graph [@simpleFadeAnimation] [statisticsData]="statisticsData" class="graph"></app-graph>
  </mat-grid-tile>
</mat-grid-list>